#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 5px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 9rem;
  margin-right: 9rem;
  padding: 3rem;
  font-size: 10px;
}
